{% extends "home/base.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block body %}

<div class="flexcontain">
<h1>Expense Tracker</h1>
<div class="container">
  <div class="header">
    <img
      src="https://i.ibb.co/jfScDTC/budget.png"
      alt="Expense Tracker"
    />
    <div class="balance-container">
      <h2>Your Balance</h2>
      <h2 id="balance" class="balance">₹{{ balance.balance }}</h2>
    </div>
  </div>
  <div class="inc-exp-container">
    <div>
      <h4>Income</h4>
      <p id="money-plus" class="money plus">+₹{{ balance.income }}</p>
    </div>
    <div>
      <h4>Expenses</h4>
      <p id="money-minus" class="money minus">-₹{{ balance.expense }}</p>
    </div>
  </div>
  <h3>History</h3>
  <ul id="list" class="list">
    {% for entry in entries %}
    {% if entry.amount > 0 %}
    <li class="plus">
      {{ entry.desc }} <span>{{ entry.amount }}</span><button class="delete-btn" onclick="location.href = '/delete-entry/{{ entry.id }}';"><i class="fa fa-times"></i></button>
    </li>
    {% else %}
    <li class="minus">
      {{ entry.desc }} <span>{{ entry.amount }}</span><button class="delete-btn" onclick="location.href = '/delete-entry/{{ entry.id }}';"><i class="fa fa-times"></i></button>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <h3>Add new transaction</h3>
  <form id="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-control">
      <label for="text">Description</label>
      <input type="text" id="text" name="desc" placeholder="Enter description..." />
    </div>
    <div class="form-control">
      <label for="amount"
        >Amount <br />
        <small>(-100 = expense, 100 = income)</small></label
      >
      <input type="number" id="amount" name="amount" placeholder="Enter amount..." />
    </div>
    <button class="btn">Add transaction</button>
  </form>
</div>
<!-- Notification -->
<div class="notification-container" id="notification">
  <p>Please add a description and amount</p>
</div>
</div>

{% endblock %}