{% extends "home/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'messages.css' %}">

<style>
    .registerdiv {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 360px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

</style>

{% endblock %}

{% block body %}
<div class="registerdiv reg">
<div class="container">
    <img src="{% static 'logo.png' %}" alt="Logo" class="logo">
    <form class="register-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Create Account</h2>
        <hr>
        {% if messages %}
        {% for message in messages %}
        <label class="alert">
            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
              <span class="alertClose">X</span>
              <span class="alertText">{{ message }} <br class="clear"/></span>
            </div>
          </label>
        {% endfor %}
        {% endif %}
          
        <div class="input-group">
            <input type="text" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="input-group">
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit">Register</button>
        <p class="login-link">Already have an account? <a href="/login/">Login</a></p>
    </form>
</div>
</div>
{% endblock %}